@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:ital,wght@1,600&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin:0;
}

.cardImage {
   max-height: 70vh;
   max-width: 70vh;
}

.navbar {
   /* background-color: #21b573; */
   background-color: #013328;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.5rem;
}

.iconLogo {
  width: 150px;
  margin-right: 20px;
}

/* .icon {
  max-height: 25px;
  max-width: 25px;
} */

.navText {
  margin-top: 8px;
  margin-right: 3px;
  color: #e2dcd2 !important;
}

.navBadge {
  /* margin-top: 2px; */
  margin-right: 3px;
  color: #e2dcd2 !important;
}


input[type="search"] {
  background-color : #e2dcd2; 
}

.navIcon {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left:3px;
  font-size:2rem;
  color: #e2dcd2;
}

h1 {
  color:  #013328;
  font-family: 'Playfair Display', serif;
}
.userPhoto {
    border: 1px solid #373737 !important;
}

.card-img-top {
  max-height: 50vh;
  max-width: 50vh;
}


.removeLink {
  color: red;
}


.landingCarousel {
  max-width: 75%;
}


.cartTotal {
  min-width: 15%;
}


.formHeader {
  text-align: center;
}


.formContainer {
  border: 2px solid green;
  border-radius:50px;
}


.backBtn {
  margin-left: 15px !important;
}


.cardActiveProduct {
  border: 1px solid #aaaaaa !important;
}


.cardActiveImg {
  min-width: 35%;
  max-width: 275px;
}


.profLabel {
  color: #373737 !important;
  /*min-width: 150px;*/
  min-width: 25%;
  /*background-color: red;*/
  padding: 3px ;
}


.profData {
  color: #ffffff !important;
  min-width: 30%;
  background-color: #aaaaaa !important;
  border-radius: 5px;
  padding: 3px ;
  padding-left: 10px;
  min-width: 70%;
  font-weight: bold ;
}

.profDiv {
  /*border: 2px solid #373737;*/

  /*border-radius: 15px;*/
  padding-top: 15px;
}

.newProductBtn {
    min-width: 20%;
    font-weight: bold;
}


.orderBackBtn {
   max-width: 275px !important;
}


.removeLink {
  background: none !important;
  border: none;
}

.centerContent {
  align-content: center !important;
}

.likeLink {
  color:blue;
  text-decoration: underline;
}

.landingContainer {
  background-image: url("https://images.pexels.com/photos/8468019/pexels-photo-8468019.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") ;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.landingDiv {
  height: 100%;
}

.landingBtn {
 background-color: #013328;
 min-width: fit-content;
 width: 20%;
 border-radius: 4px;
 border:none;
 font-family: 'Josefin Sans', sans-serif;
 color: #cc8b65;
 font-weight: 900;
 font-size: 2rem;
 padding-top: 5px;
 padding-left: 32px;
 padding-right: 32px;
}